doctype html
html
  head
    title= title
    h1 #{title} Test Page
    //jquery adding
    script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    a(href="/register") Register
    br
    a(href="/login") Login
      br
    a(href="/My_info") My_info
      br
    a(href="/Seat_info") Seat_info
      br
  body
    block content