extends layout

block content
  h1= title
  p Welcome to #{title}
  if session.isLogined
    p
      h3 #{session.name}님 반갑습니다.
      h3 학번 = #{session.userid}
      a(href="/logout") 로그아웃
      br
      a(href="/recommendation") 추천 바로가기
  else
    script
     | alert('로그인이 필요합니다');
     | location.href="/login";

