.Head {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  text-align: center;
  margin-top: 10px;
  background-color: #FBF5EF;
}
.Headername {
  text-align: center;
  margin-top: 13%;
  margin-bottom: 10%;
  font-weight: bold;
  font-size: 5rem;
  line-height: 4rem;
  color: #F15F5F;
  font-family: 'ugro';
}
.logo {
  margin-top: 10%;
  margin-bottom: 10%;
  width:100px; 
  height:100px;
  object-fit: contain;

}
.Head-right{ 
  display: flex;
  margin-top: 18%;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'ugro';
  justify-content: space-evenly;
  
}